<% layout('layouts/layout') %>
<h1>Capture Message</h1>
<form action="/capture-message" method="post">
  <div>
    <label for="ip">IP:</label>
    <input type="text" id="ip" name="ip">
  </div>
  <div>
    <label for="message">Message:</label>
    <textarea id="message" name="message"></textarea>
  </div>
  <div>
    <label for="stegObject">Steg Object:</label>
    <input type="file" id="stegObject" name="stegObject">
  </div>
  <button type="submit">Send</button>
</form>
